@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  max-width: 1380px;
  margin: auto;
}

header {
  margin: 0;
  height: 30px;
  padding: 10px;
  text-align: center;
}
header #logo {
  max-width: 30%;
  margin: auto;
  max-height: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

@keyframes menu {
  /* animation des choix des plats sur la page de restaurants */
  from {
    transform: TranslateY(50%);
    opacity: 0;
  }
  to {
    transform: TranslateY(0);
    opacity: 1;
  }
}
@keyframes char {
  /* animation chargement de la page  accueil */
  to {
    transform: scale(0);
  }
}
@keyframes touch {
  /* animation cercle */
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fill {
  0% {
    transform: Scale(0.9);
    opacity: 0;
  }
  100% {
    transform: Scale(1.3);
    opacity: 1;
  }
}
footer {
  height: 150px;
  background-color: rgba(0, 0, 0, 0.74);
  color: white;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0;
}
footer h3 {
  font-family: "shrikhand";
  font-size: 15px;
  font-weight: normal;
  margin-bottom: -5px;
  margin-left: 25px;
  border-bottom: none;
}
footer i {
  margin-right: 5px;
  font-size: 10px;
}
footer li {
  list-style: none;
  font-size: 13px;
  margin-bottom: 5px;
  margin-left: -15px;
}
footer a {
  color: white;
  text-decoration: none;
}

.loader {
  background-color: white;
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  transform-origin: center;
  height: 100%;
  animation: char 3s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader span {
  position: absolute;
  inset: 5px;
  border-radius: 95px;
  background-color: white;
  z-index: 1;
}
.loader h2 {
  position: relative;
  z-index: 2;
  color: #99e2d0;
  opacity: 0.5;
  font-size: 20px;
  font-weight: normal;
}
.loader .loader_mini {
  position: relative;
  font-family: "shrikhand";
  border-radius: 100px;
  padding: 20px;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.loader .loader_mini::before {
  content: "";
  position: absolute;
  border-radius: 100px;
  padding: 20px;
  height: 300px;
  width: 300px;
  background-image: conic-gradient(transparent, transparent, transparent, #9356dc);
  animation: touch 4s linear infinite;
}
.loader .loader_mini::after {
  content: "";
  position: absolute;
  border-radius: 100px;
  padding: 20px;
  height: 300px;
  width: 300px;
  background-image: conic-gradient(transparent, transparent, transparent, #ff79da);
  animation: touch 4s linear infinite;
  animation-delay: -2s;
}

#search {
  height: 30px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 2px inset;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: center;
}

.fa-location-dot {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 40px;
}

#city {
  border: none;
  background-color: transparent;
  margin-left: 15px;
  /* Fin de la zone de recherche */
}

#accueil {
  /*Texte présentation avec le boutton de clique */
  height: 230px;
  padding: 10px;
  background-color: rgba(242, 242, 242, 0.5568627451);
  text-align: center;
  justify-content: center;
}
#accueil h4 {
  font-weight: normal;
}
#accueil h3 {
  /*  Texte dans boutton */
  width: 100%;
  font-size: 20px;
}

.btn {
  align-items: center;
  border-radius: 20px;
  padding: 13px;
  width: 50%;
  color: white;
  border: none;
  position: relative;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  cursor: pointer;
  /* Fin du block présentation et boutton */
}
@media screen and (min-width: 768px) {
  .btn {
    width: 30%;
  }
}
.btn:hover {
  background: linear-gradient(0deg, #ae80e5 0%, #fface8 100%);
  box-shadow: 0 3px 10px #5d5d5d;
  transition-duration: 550ms;
}

.section_1 {
  /* Début section 1 partie avec la liste */
  display: flex;
  flex-direction: column;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .section_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.titre_section_1 {
  margin-left: 10px;
}

.liste {
  /* Liste menu dans l'accueil */
  text-align: center;
  display: flex;
  margin-left: -10px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  width: 90%;
  min-height: 20px;
  box-shadow: 3px 3px 3px 1px lightgrey;
  font-size: 15px;
}
@media screen and (min-width: 992px) {
  .liste {
    margin-right: 30px;
  }
}
.liste:hover {
  background: rgba(147, 86, 220, 0.1);
  cursor: pointer;
}
.liste:hover:hover .items {
  color: #9356dc;
}

.menu {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 798px) {
  .menu {
    width: 40%;
  }
}

.items {
  /* petit icone */
  color: grey;
  margin-right: 20px;
}

.number {
  background-color: #9356dc;
  color: white;
  width: 10px;
  height: 10px;
  border-radius: 25px;
  padding: 5px;
  text-align: center;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 10px;
  position: relative;
}

.liste {
  /* Liste menu dans l'accueil */
  text-align: center;
  display: flex;
  margin-left: -10px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  width: 90%;
  min-height: 20px;
  box-shadow: 3px 3px 3px 1px lightgrey;
  font-size: 15px;
  /* Fin de la liste */
}
@media screen and (min-width: 992px) {
  .liste {
    margin-right: 30px;
  }
}
.liste:hover {
  background: rgba(147, 86, 220, 0.1);
  cursor: pointer;
}
.liste:hover:hover .items {
  color: #9356dc;
}

.section_2 {
  /* Début de la partie 2 avec les restaurants proposés */
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  .block_1 {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .block_2 {
    display: flex;
  }
}

.restau {
  max-width: 90%;
  height: 200px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
  border-radius: 20px;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  position: relative;
  /* Block image avec nom restaurant */
}
.restau img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
@media screen and (min-width: 992px) {
  .restau {
    margin: 25px;
  }
}
@media screen and (min-width: 768px) {
  .restau {
    width: 60%;
  }
}

a {
  text-decoration: none;
  color: black;
}
a .adresse {
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 20px;
}
a .adresse p {
  margin-top: -20px;
  font-size: 13px;
}

.new_restau {
  font-size: 12px;
  border: none;
  border-radius: 2px;
  width: 20%;
  padding: 5px;
  text-align: center;
  background-color: #99e2d0;
  color: green;
  font-weight: bold;
  position: absolute;
  right: 10px;
  margin-top: 15px;
  /* Fin section 2 */
}

.fill {
  float: right;
  margin-top: -45px;
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}
.fill:active {
  opacity: 1;
  animation: fill 2s cubic-bezier(0, 2, 1, -1.12);
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
