
@mixin fleche_retour{
color: black;
float: left;
padding:10px;
cursor: pointer;
}

@mixin banniere{ /* Image des restaurants */
width:100%;
height: 300px;
object-fit: cover;
}

@mixin titre{ /* titre des restaurants */
display: flex;
width: 100%;
height: 50px;
justify-content: space-between !important;
margin-bottom: 40px;
}

@mixin heart{ /* coeur à côté du titre */
margin-top: 42px;
margin-right: 20px;
font-size: 20px;
}

@mixin h2{
font-family: "shrikhand";
font-weight: normal;
padding: 15px;
}

@mixin card{
  @media screen and (min-width:900px) {
    width: 30%;
  }
  @media screen and (min-width:700px) and (max-width:900px){
    width: 50%;
  }
  width: 100%;
}

@mixin h3{
border: 3px solid #99E2D0 ;
border-top: none;
border-left: none;
border-right: none;
width: 10%;
padding-bottom: 4px;
font-weight: normal;
margin-left: 15px;
margin-top: 30px;
font-size: 17px;
}

@mixin h4{
  margin-top: 5px;
  margin-bottom: -10px;
}

@mixin choix{ /* bulle de chaque plats */
  @media screen and (min-width:900px) {
    width: 85%;
    margin: 15px;
  }
  @media screen and (min-width:768) and (max-width:900px) {
    width: 90%;
  } 
margin: 15px;
width: 90%;
height: 50px;
position: relative;
cursor: pointer;
overflow: hidden;
flex-wrap: nowrap;
background-color: white;
border-radius: 15px;
margin-bottom: 10px;
padding : 10px;
justify-content:center;
  &:hover .check{
  opacity: 1;
  transform: translate(-50px);
}
    &:hover .fa-circle-check {
      transform: rotate(360deg);
    }
      &:hover .prix{
        transform: translate(-70px);                                                                                    
        transition: transform 550ms;
      }    
      &:hover .ellipsis{
        max-width:210px;
      }
}


@mixin presentation{ /* accompagnement */
text-overflow: ellipsis !important;
overflow: hidden !important;
white-space: nowrap !important;
max-width: 85%;
}


@mixin price{
  display: block;
  position: absolute;
  top: 40px;
  right: 10px;
  width: 30px;
  height: 30px;
}

@mixin check{ 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-tertiary;
  width: 15%;
  height: 60px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  padding: 5px;
  right: -51px;
  top: 0px;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}

@mixin fa-circle-check {
  color: #fff;
  font-size: 20px;
  transition: transform 500ms ease-in-out;
}
