


header{
    margin: 0;
    height: 30px;
    padding: 10px;
    text-align: center;
    #logo{
        max-width: 30%;
        margin: auto;
        max-height: 20px;
        align-items: center;
        justify-content: center;
        padding: 10px;
      }
}

