@mixin favori{
  float:right;
  margin-top: -45px;
  margin-right: 20px;
  font-size: 20px;
  transition: all 450ms;
    &:active {
        opacity: 1;
        animation: all ease-in-out;
        background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: bold;
      }
}